/* -------------------------------------------------------------------------------- Basics  */
body {
  background-color: white;
  font-family: 'Inter', sans-serif;
  line-height: 1.2;
  color: black;
  margin: 0;

}

/* -------------------------------------------------------------------------------- CSS Grid  */

.wrapper {
    display: grid;
    grid-template-columns: repeat(12, 8.3fr);
    grid-gap: 0;
    grid-auto-rows: auto;
    }
  .header {
    grid-column: 1 / 13;
    grid-row: 1;
    height: 10vh; 
  }

  .content { 
    grid-column: 4 / 11;
    grid-row: 2 / 3;
    height: 80vh;
    
  }
  .footer {
    grid-column: 1 / 13;
    height: 10vh; 

  }


  /* -------------------------------------------------------------------------------- Typeface  */
  
  h1 {
    font-size: 6rem;
    font-weight: 500;

  }
  
  h2 {font-size: 5.063rem;}
  
  h3 {font-size: 3.375rem;}
  
  h4 {font-size: 2.25rem;}
  
  h5 {font-size: 1.5rem;}
  
  small, .text_small {font-size: 0.667rem;}

  /* -------------------------------------------------------------------------------- Fluid Typeface  */

  @media screen and (min-width: 320px) {
    html {
      font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    }
  }
  @media screen and (min-width: 1000px) {
    html {
      font-size: 22px;
    }
  }  

  /* -------------------------------------------------------------------------------- Colors  */
.red {
    background-color: red;
  }

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.purple {
    background-color: purple;
}

.gray {
    background-color: gray;
}
