/* -------------------------------------------------------------------------------- Basics  */
body {
  background-color: white;
  font-family: 'Inter', sans-serif;
  line-height: 1.2;
  color: black;
  margin: 0;

}

/* -------------------------------------------------------------------------------- CSS Grid  */

.wrapper {
    display: grid;
    grid-template-columns: repeat(7, 8.3fr);
    grid-gap: 0;
    }



  .one {
    grid-column: 1 / 2;
    
  }
  .two { 
    grid-column: 2 / 3;

  }
  .three {
    grid-column: 3 / 4;

  }
  .four {
    grid-column: 4 / 5;

  }
  .five {
    grid-column: 5 / 6;

  }

  .six{
    grid-column: 6 / 7;

  }

  .seven{
    grid-column: 7 / 8;

  }

  .height-90{
    grid-row: 1;
    height: 90vh;
  }

  .height-10{
    grid-row: 2;
    height: 10vh;
  }
 
  /* -------------------------------------------------------------------------------- Metaballs Canvas  */

  canvas[resize] {
    width: 100%;
    height: 100%;
    grid-column: 1 / 8;
  grid-row: 1 / 3;
} 


  /* -------------------------------------------------------------------------------- Typeface  */
  
  h1 {
    font-size: 6rem;
    font-weight: 500;

  }

  a{
    font-size: 6rem;
    color: white;
    text-decoration: none;
    position: relative;
  }

  a.hover{
    font-size: 6rem;
    text-shadow: black;

  }
  
  h2 {font-size: 5.063rem;}
  
  h3 {font-size: 3.375rem;}
  
  h4 {font-size: 2.25rem;}
  
  h5 {font-size: 1.5rem;}
  
  small, .text_small {font-size: 0.667rem;}



  /* -------------------------------------------------------------------------------- Colors  */
.red {
    background-color: red;
  }

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: rgb(0, 255, 0);
}

.magenta {
    background-color: magenta;
}

.gray {
    background-color: gray;
}

.turquoise {
  background-color: turquoise;
}

.black{
  background-color: black;
}

