/* -------------------------------------------------------------------------------- Basics  */
body {
  background-color: white;
  font-family: 'Inter', sans-serif;
  line-height: 1.2;
  color: black;
  margin: 0;

}

/* -------------------------------------------------------------------------------- CSS Grid  */

.wrapper {
    display: grid;
    grid-template-columns: repeat(7, 8.3fr);
    grid-gap: 0;
    /* grid-auto-rows: auto; */
    }

  .one {
    grid-column: 1 / 2;
    
  }
  .two { 
    grid-column: 2 / 3;

  }
  .three {
    grid-column: 3 / 4;

  }
  .four {
    grid-column: 4 / 5;

  }
  .five {
    grid-column: 5 / 6;

  }

  .height-90{
    height: 90vh;
  }

  .height-10{
    height: 10vh;
  }
 


  /* -------------------------------------------------------------------------------- Typeface  */
  
  h1 {
    font-size: 6rem;
    font-weight: 500;

  }
  
  h2 {font-size: 5.063rem;}
  
  h3 {font-size: 3.375rem;}
  
  h4 {font-size: 2.25rem;}
  
  h5 {font-size: 1.5rem;}
  
  small, .text_small {font-size: 0.667rem;}

  /* -------------------------------------------------------------------------------- Fluid Typeface  */

  @media screen and (min-width: 320px) {
    html {
      font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    }
  }
  @media screen and (min-width: 1000px) {
    html {
      font-size: 22px;
    }
  }  


  /* -------------------------------------------------------------------------------- Color Scheme  */

  $dark-color: black;
  $light-color: white;

  body.dark-mode {
    background-color: $dark-color;
    color: $light-color;
    a {
      color: $dark-color;
    }
    button {
      background-color: $light-color;
      color: $dark-color;
    }
  }
  
  body.light-mode {
    background-color: $light-color;
    color: $dark-color;
    a {
      color: $dark-color;
    }
    button {
      background-color: $dark-color;
      color: $light-color;
    }
  }
  /* -------------------------------------------------------------------------------- Colors  */
.red {
    background-color: red;
  }

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: rgb(0, 255, 0);
}

.magenta {
    background-color: magenta;
}

.gray {
    background-color: gray;
}

.turquoise {
  background-color: turquoise;
}

.black{
  background-color: black;
}

